body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 5rem);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calc {
  width: 255px;
}

.calc .result {
  background-color: #000;
  height: 4rem;

  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;

}

.calc .result input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;

  text-align: right;
  color: #fff;
  font-size: 3rem;
  padding: 0.2rem;

  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
}

.keyboard-btn {
  width: 4rem;
  height: 4rem;

  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}